* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Handlee', cursive;
    font-size: 13pt;
    padding: 0px;
    margin: 0;
    background-image: url("../pic/background.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
}

a:active {
    text-decoration: underline;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}
.section {
    /*background-color: #fff;*/
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.2) 75%,
        rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.project {
    /*background-color: #fff;*/
    width: 100%;
    min-height: 50px;
    display: inline-block;
    margin-right: -4px;
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.1) 25%,
        rgba(255, 255, 255, 0.1) 75%,
        rgba(255, 255, 255, 0.0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* For tablets: */
    .project {
        width: 50%;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .project {
        width: 25%;
        box-sizing: border-box;
    }

    .project:hover {
        background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.1) 75%,
            rgba(255, 255, 255, 0.1) 100%);
        font-weight: bold;
    }
}

#header {
    /*background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;*/
}
#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
    color: grey;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}