* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;
}

html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

body {
    height: 100%;
    font-family: monospace;
    font-size: 8px;
    padding: 0px;
    margin: 0px;
    background-image: url("../pic/background.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
}

a {
    color: black;
    text-decoration: none;
}

.img-circle {
    position: absolute;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: auto;
}

.project {
    position: absolute;
    display: inline-block;
    width: 90px;
    height: 110px;
    border-radius: 45px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
    padding-bottom: 15px;
    background: linear-gradient(90deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.1) 25%,
        rgba(255, 255, 255, 0.1) 75%,
        rgba(255, 255, 255, 0.1) 100%);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.element {
    position: relative;
    top: 100%;
    margin-left: 9px;
}

.element:hover {
    font-weight: bold;
}

.copyright {
    position: absolute;
    top: 98%;
    left: 61%;
    font-size: 6px;
    text-align: right;
    color: grey;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* For tablets: */
}

@media only screen and (min-width: 1025px) {
    /* For desktop: */
    .img-circle {
        border: 1px solid white;
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        -ms-transition: all 0.1s ease-in-out 0s;
        -o-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s;
    }

    .img-circle:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.1),
    }

    .project {
        height: 90px;
        border-radius: 45px;
        -webkit-transition: all 0.5s ease-in-out 0s;
        -moz-transition: all 0.5s ease-in-out 0s;
        -ms-transition: all 0.5s ease-in-out 0s;
        -o-transition: all 0.5s ease-in-out 0s;
        transition: all 0.5s ease-in-out 0s;
    }

    .element {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        -moz-transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        -ms-transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        -o-transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
        transition: visibility 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
    }

    .project:hover {
        height: 110px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 0.1) 25%,
            rgba(255, 255, 255, 0.1) 75%,
            rgba(255, 255, 255, 0.1) 100%);
    }

    .project:hover > .img-circle { 
        border: 3px solid white;
    }

    .project:hover > .element { 
        visibility: visible;
        opacity: 1;
        -webkit-transition: visibility 0.5s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.3s;
        -moz-transition: visibility 0.5s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.3s;
        -ms-transition: visibility 0.5s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.3s;
        -o-transition: visibility 0.5s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.3s;
        transition: visibility 0.5s ease-in-out 0.3s, opacity 0.5s ease-in-out 0.3s;
    }

    .copyright {
        top: 97%;
        left:86%;
        font-size: 8px;
    }

}
